body {
    margin: 0;
}
h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

li{
    margin: 2px;
}
#container {
    background-color: #FBFAF5;
    width: 100vw;
    height: 100vh;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#name {
    color: #2191FB;
}

.text-container {
    width: 500px;
    max-width: 80%%;
    background-color: white;
    border-radius: 1px;
    padding: "10px";
    box-shadow: 0 0 15px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlink{
    color: whitesmoke;
    text-decoration: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.2);
}